[Tree]
position = 0.0 0.0 0.5
orientation = 0.0 1.0 0.0
child_angle = 50
depth = 2
rotation_limit = 120
child_modifier = 0.75
rotation_modifier = 0.5
length = 0.5
radius = 0.05

[Mutation]
weight_probability = 0.01
joint_probability = 0.05
expression_probability = 0.05
joint_sigma = 0.1

[Network]
hidden_per_branch = 4
connectivity = 0.5
magnitude = 3

[Simulator]
eval_time = 200
xyz = 0.0 1.0 10.0
hpr = 90.0 -90.0 0.0
dt = 0.01

[Evolution]
population = 100
generations = 2000
threshold = .99

[Environment]
near = 3.0
far = 6.0
height = 1.0
radius = 0.5